* {
 --cyan: hsl(179, 62%, 43%);
 --yellow: hsl(71, 73%, 54%);
 --light-gray: hsl(204, 43%, 93%);
 --grayish-blue: hsl(218, 22%, 67%);
}

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

body {
  background-color: var(--light-gray);
}

h1 {
  color: var(--cyan);
}

h2 {
  font-weight: 500;
  color: var(--yellow);
}

h3 {
  color: var(--light-gray);
}

p {
  color: white;
}

#p-gray {
  color: var(--grayish-blue);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  padding-top: 2.5rem;
}

.box {
  background-color: white;
  width: 735px;
  height: 475px;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.2);
}

#item-a {
  padding-top: 1.5rem;
  padding-left: 2.5rem;
  flex: 0 0 45%;
  min-height: 45%;
  max-height: 45%;
}

.offer {
  display: flex;
  flex: 0 0 55%;
  max-height: 55%;
}

#item-b {
  box-sizing: border-box;
  background-color: #2ab2af;
  justify-content: center;
  align-items: center;
  flex: 0 0 50%;
  border-bottom-left-radius: 7px;
  padding-left: 2.5rem;
  padding-top: 1.5rem
}

.price {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0;
}

span {
  font-size: 1rem;
  color: var(--light-gray);
  font-weight: 400;
}

button {
  width: 237px;
  height: 50px;
  background-color: var(--yellow);
  border-style: none;
  border-radius: 7px;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.2);
}

#item-c {
  box-sizing: border-box;
  background-color: #4bbebc;
  justify-content: center;
  align-items: left;
  flex: 0 0 50%;
  border-bottom-right-radius: 7px;
  padding-left: 2.5rem;
  padding-top: 1.5rem;
}





@media all and (max-width: 450px) {

  .box {
    max-width: 100%;
  }

  .offer {
  flex-direction: column;
  max-width: 100%;
}
#item-a {
  padding-bottom: 4.5rem;
  padding-left: 1rem;
  
}
#item-b {
  border-bottom-left-radius: 0px;
  padding-bottom: 2rem;
}

#item-c {
  border-bottom-left-radius: 7px;
}


}