* {
 --cyan: hsl(179, 62%, 43%);
 --yellow: hsl(71, 73%, 54%);
 --light-gray: hsl(204, 43%, 93%);
 --grayish-blue: hsl(218, 22%, 67%);
}

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

h1 {
  color: var(--cyan);
}

h2 {
  color: var(--yellow);
}

h3 {
  color: var(--light-gray);
}

p {
  color: white;
}

#p-gray {
  color: var(--grayish-blue);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 635px;
  height: 475px;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.2);
}

#item-a {
  padding: 3rem;
  flex: 0 0 45%;
  max-height: 45%;
}

.offer {
  display: flex;
  flex: 0 0 55%;
  max-height: 55%;
}

#item-b {
  background-color: #2ab2af;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  max-height: 100%;
}

#item-c {
  background-color: #4bbebc;
  justify-content: center;
  align-items: left;
  padding: 3rem;
  max-height: 100%;
}





@media all and (max-width: 375px) {

}